<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131243065-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131243065-1');
</script>

    <title>{{post.title}}</title>
  </head>
  <body>
      <div>
        <h1>{{ post.title }}</h1>
        <p>{{ post.published_date }}</p>
        <p>{{ post.text|linebreaksbr }}</p>
        <br><br>
        <A HREF="javascript:javascript:history.go(-1)">Back</A>
      </div>
  </body>
</html>
